<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Spring Boot</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <link rel="stylesheet" th:href="@{~/css/all.min.css}">
    <link rel="stylesheet" th:href="@{~/css/adminlte.min.css}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="/">Demo Spring Boot</a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">If your email is valid, you will received a link to reset your password in an email
                we sent. Please check your inbox</p>
        </div>
    </div>
</div>
</body>
</html>