<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Spring Boot</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <link rel="stylesheet" th:href="@{~/css/all.min.css}">
    <link rel="stylesheet" th:href="@{~/css/icheck-bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/css/adminlte.min.css}">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <a href="/">Demo Spring Boot</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Create New Password</p>
            <form th:action="@{/support/new-password}" th:object="${myModel}" method="post">
                <input id="token" name="token" type="hidden" th:value="*{token}"/>
                <div class="input-group mb-3">
                    <input id="newPassword" name="newPassword" type="password" class="form-control" placeholder="Password" th:value="*{newPassword}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <div id="passwordInvalid" class="invalid-feedback"></div>
                </div>
                <div class="input-group mb-3">
                    <input id="password1" type="password" class="form-control" placeholder="Retype password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <div id="password1Invalid" class="invalid-feedback"></div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button id="btnSubmit" type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{~/js/jquery.min.js}"></script>
<script th:src="@{~/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{~/js/adminlte.min.js}"></script>
<script>
    $(function () {
        $("#newPassword").on("blur", function () {validatePassword($("#newPassword").val().trim())});
        $("#password1").on("blur", function () {validateRetypePassword($("#newPassword").val().trim(),$("#password1").val().trim())});

        function validatePassword(password) {
            //let password = $("#password").val().trim();
            if (password == null || password == "") {
                $("#passwordInvalid").text("please fill in the password");
                $("#newPassword").addClass("is-invalid");
                return false;
            } else {
                $("#newPassword").removeClass("is-invalid");
                return true;
            }
        }

        function validateRetypePassword(password, password1) {
            //let password = $("#password").val().trim();
            //let password1 = $("#password1").val().trim();
            if (password1 == null || password1 == "") {
                $("#password1Invalid").text("please retype the password");
                $("#password1").addClass("is-invalid");
                return false;
            } else if (password != password1) {
                $("#password1Invalid").text("the retype password does not match with password");
                $("#password1").addClass("is-invalid");
                return false;
            } else {
                $("#password1").removeClass("is-invalid");
                return true;
            }
        }
    });
</script>
</body>
</html>