<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Demo Spring Boot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p th:text="'Hello, ' + ${fullName}">Hello, Member</p><br>
We send you this email, because there is a request to reset password.<br>
If you did not do that then ignore this message.<br>
<a th:href="'http://localhost:8080/support/new-password/' + ${token}">Here</a> is the link to reset your password<br><br>
Regards,<br>
Software Demo<br>
</body>
</html>